.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
